body {
    font-family: 'Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8edeb;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* Additional CSS for the message */
.message {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 20px;
    font-family: 'Pacifico', cursive; /* Use a romantic font */
    font-size: 18px; /* Adjust font size as needed */
    line-height: 1.6; /* Adjust line height as needed */
}

.image-container img {
    margin: 0 10px;
    width: 150px;
    height: auto;
}

.options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: #fff;
    font-size: 16px;
    transition: transform 0.2s ease-out;
}

button:hover {
    background-color: #ff1493;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
